<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title%} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
     <nav>
      <a href="/" class="btn btn-link">Home</a>
      <a href="/products" class="btn btn-link">Produtos</a>
      <a href="/contact" class="btn btn-link">Contato</a>
      <a href="/ricardo" class="btn btn-link">Página do Ricardo</a>
      <a href="/users" class="btn btn-link">Usuários</a>
         <span class="float-right">
          <a href="/cart">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-danger" id="cart-items"></span>
          </a>
        </span>
      </nav>

      <div>
      {% block content %}
      {% endblock %}
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="/js/base.js" charset="utf-8"></script>
    {% block script %}    
    {% endblock %}
  </body>
</html>
